modules = ["web", "nodejs-20", "bash"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"
packages = ["netcat-gnu"]

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 6000
externalPort = 6000

[[ports]]
localPort = 8080
externalPort = 8080

[[ports]]
localPort = 9000
external = 9000

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Backend Server"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd backend && npm install --prefer-offline && node server.js"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow]]
name = "Backend Server"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd backend && npm start"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"
