modules = ["java-graalvm22.3", "nodejs-20", "web"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"
packages = ["netcat-gnu"]

[[ports]]
localPort = 3001
externalPort = 3001

[[ports]]
localPort = 3002
externalPort = 3002

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 6000
externalPort = 6000

[[ports]]
localPort = 7000
externalPort = 4200

[[ports]]
localPort = 7500
externalPort = 3003

[[ports]]
localPort = 8051
externalPort = 3000

[[ports]]
localPort = 8080
externalPort = 8080

[[ports]]
localPort = 9000

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Backend Server"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Device Simulator"

[[workflows.workflow]]
name = "Backend Server"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd backend && npm install --prefer-offline && npm run build && node server.js"
waitForPort = 5000

[[workflows.workflow]]
name = "Device Simulator"
author = "agent"

[workflows.workflow.metadata]
outputType = "console"
